#Django #
*.log
*.pot
*.pyc
__pycache__
media
.idea/
.vscode/


# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/


# Database
db.sqlite3
mysqlclient-1.4.6-cp38-cp38-win32.whl



# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project


# sftp configuration file 
sftp-config.json 

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings